.tu-book-container {
  outline: 0;
}

.tu-book-container,
.tu-book-cover,
.tu-book-page,
.tu-book-content,
.tu-book-page-number,
.tu-book-back-cover {
  overflow: hidden;
}

.tu-book-cover,
.tu-book-page,
.tu-book-back-cover {
  backface-visibility: hidden;
}


.tu-book-title,
.tu-book-page-number,
.tu-book-end-title {
  text-align: center;
  margin: 0;
}

.tu-book-text {
  margin: 0;
  white-space: pre-wrap;
}

.tu-book-title,
.tu-book-end-title {
  padding: 10% 25px;
}

.tu-book-opacity {
  opacity: 0;
}
